<div class="container main-cont">
   <!--first row-->
   <div class="row pull-center ">
      <h1 class="text-center">
      <a href="#" style="text-decoration:underline;">Share Your Simplstry</a></h1>
      <p style="text-align: center;">Visit account regulary to update or review your products and share them with others.</p>
      <div class="span12 clearfloat">
         <p class="learnmore-inside pull-center" style="width: 55%;"><a href="<%= user_registry_url(current_user) %>"><img src="/assets/back-icon.png" class="inline">Edit My Simplstry</a></p>
      </div>
   </div><!--/.first row-->
</div>