<div class="big-photo text-center">
    <img src="/assets/hp-heroshot.jpg">
    <div class="hp-tagline">
      <p>
      <img src="/assets/tagline.png" class="tagline visible-desktop visible-tablet">
      <img src="/assets/tagline-mobile.png" class=" visible-phone" style="margin: 0 auto;">
      </p>
      <p>The complete lifestyle-based starter registry for expectant parents.</p>
      <p class="learnmore-hp pull-center"><a href="/steps">Learn More</a> <img src="/assets/proceed-icon.png" class="inline"></p>
    </div>
    
   </div>