.row-fluid
  .span6
    .home-top-left
      %h1 Baby registering. Simplified.
      %h2 Simplstry creates a registry with products that jive with your lifestyle and let's you make changes. Once you've crafted your ideal baby registry, your friends and family members can buy and ship the products through our seamless interface. Get started today with a free account.