<div class="container">
<div class="row">
<div class="span12 text-center">
  <h1>How Simplstry Works</h1>
  <p>
  <img src="/assets/steps-chart.gif">
  </p>
  <div class="span12">
  <p class="learnmore-inside pull-center"><a href="/register">Get started </a><img src="/assets/proceed-icon.png" class="inline"></p>
  </div>
</div>

</div>
</div>