// ***************************************
// # Styles for Registry App
// ***************************************

// Colors
// ***************************************

$purple: #525789;
$darkPurple: #484d79;
$green: #37a883;
$gold: #FFB90F;
$darkGold: #dba924;


// Fonts
// ***************************************

@import url("//weloveiconfonts.com/api/?family=fontawesome");

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}


// Mixins
// ***************************************

@mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin border-box() {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}


// Styles
// ***************************************

html {
  overflow-y: scroll;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

.main-header {
  background: $green;
  height: 80px;
  margin-bottom: 30px;
}

.logo {
  display: block;
  font-family: 'Lemon', sans-serif;
  font-size: 26px;
  color: #fff;
  text-shadow: 0 0 2px rgba(0,0,0,0.25);
  margin-top: 25px;
  float: left;
  clear: both;
  &:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
}

.main-nav {
  float: right;
  margin-top: 18px;
}

.button {
  @include rounded-corners(2px);
  font-family: 'Open Sans', sans-serif;
}

.main-header-button {
  display: block;
  padding: 10px 35px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  float: left;
  &:hover {
    text-decoration: none;
    color: #fff;
  }
  &:first-of-type {
    margin-right: 15px;
  }
}

.form-button {
  display: block;
  padding: 10px 35px;
  margin-top: 15px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  background: $gold;
  &:hover {
    background: $darkGold;
  }
}

.sign-in-button {
  background: $purple;
  &:hover {
    background: $darkPurple;
  }
}

.sign-out-button {
  background: $purple;
  &:hover {
    background: $darkPurple;
  }
}

.sign-up-button {
  background: $gold;
  &:hover {
    background: $darkGold;
  }
}

.home-top-left {

}

.field input[type=text],
.field input[type=password],
.field input[type=email] {
  border: 2px solid #ccc;
  border-radius: 0;
  width: 250px;
  box-shadow: none;
  &:focus {
    border-color: $gold;
    outline: none;
    box-shadow: none !important;
  }
}

.wizard-lifestyle-choose {
  margin: 20px 0 35px 0;
}

.wizard-lifestyle-container {
  height: 210px;
  border: 3px solid $purple;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  &:hover {
    border-color: $gold;
  }
}

.wizard-lifestyle-type {
  position: absolute;
  top: 0;
  left: 10px;
  margin: 0;
  padding: 0;
}

.wizard-lifestyle-selected {
  color: #FF4040;
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  font-size: 20px;
}

